@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
	
	.main-container {
		@apply max-w-[450px] p-6 grid gap-8;
	}

	.theme-switch {
		@apply flex text-sm font-normal uppercase items-end gap-x-7;
	}
	.theme-switch-btn {
		@apply flex justify-between px-2 col-span-3;
	}
	.theme-options {
		@apply grid grid-cols-3 w-[65px] font-medium;
	}
	.theme-options span {
		cursor: pointer;
	}
	.theme-label {
		font-size: .75rem;
	}

	.circle {
		@apply rounded-full h-4 w-4;
		transition: all 0.15s linear;
		cursor: pointer;
	}
	.circle:hover {
		filter: brightness(1.2);
		transition: all 0.15s linear;
	}
	.circle-container {
		@apply grid grid-cols-3 w-[100%] h-6 rounded-full p-1 mt-1 col-span-3;
	}
	.calculator-header {
		@apply text-2xl font-bold flex w-[100%] justify-between;
	}
	.calculator-body {
		@apply grid grid-cols-4 gap-3 px-5 py-6 rounded-lg
		mt-1;
	}
	.calculator-screen input{
		@apply w-[100%] p-6 rounded-lg 
		text-3xl font-bold text-right mb-4;
	}
	.btn {
		@apply  font-bold w-[100%]
		h-[45px] text-xl rounded-lg uppercase;
		transition: all 0.15s linear;
	}
	.btn:hover {
		filter: brightness(1.2);
		transition: all 0.15s linear;
	}
	.reset-btn, .equel-btn {
		@apply col-span-2 ;
	}
	.reset-btn, .del-btn {
		@apply text-base;	
	}
}

@layer components {
	[data-theme="theme1"] {
		.main-container, body {
			@apply bg-theme-1-main-bg;
		} 	

		.circle {
			@apply bg-theme-1-key-red-bg;
		} 
	
		.circle-container {
			@apply bg-theme-1-toggle-bg;
		}
		
		.calculator-header {
			@apply text-theme-1-text-white;
		}

		.calculator-body {
			@apply bg-theme-1-screen-bg;
		}

		.calculator-screen input {
			@apply bg-theme-1-screen-bg text-theme-1-text-white;
		}	

		.btn {
			@apply bg-theme-1-key-light-bg text-theme-1-text-dark;
			box-shadow: 0px 4px 0px 0px hsl(28, 16%, 65%);
		}

		.reset-btn, .equel-btn {
			@apply text-theme-1-text-white;
		}

		.reset-btn, .del-btn {
			@apply bg-theme-1-key-bg text-theme-1-text-white;
			box-shadow: 0px 4px 0px 0px hsl(224, 28%, 35%);
		}

		.equel-btn {
			@apply bg-theme-1-key-red-bg;
			box-shadow: 0px 4px 0px 0px hsl(6, 70%, 34%);
		}
	}
}

@layer components {
	[data-theme="theme2"] {
		.main-container, body {
			@apply bg-theme-2-main-bg;
		} 	

		.circle {
			@apply bg-theme-2-key-orange-bg;
		} 
	
		.circle-container {
			@apply bg-theme-2-toggle-bg;
		}
		
		.calculator-header {
			@apply text-theme-2-text-dark;
		}

		.calculator-body {
			@apply bg-theme-2-toggle-bg;
		}

		.calculator-screen input {
			@apply bg-theme-2-screen-bg text-theme-2-text-dark;
		}	

		.btn {
			@apply bg-theme-2-key-light-bg text-theme-2-text-dark;
			box-shadow: 0px 4px 0px 0px hsl(35, 11%, 61%);
		}

		.reset-btn, .equel-btn {
			@apply text-theme-2-text-white;
		}

		.reset-btn, .del-btn {
			@apply bg-theme-2-key-bg text-theme-2-text-white;
			box-shadow: 0px 4px 0px 0px hsl(185, 58%, 25%);
		}

		.equel-btn {
			@apply bg-theme-2-key-orange-bg;
			box-shadow: 0px 4px 0px 0px hsl(25, 99%, 27%);
		}
	}
}


@layer components {
	[data-theme="theme3"] {
		.main-container, body {
			@apply bg-theme-3-main-bg;
		} 	

		.circle {
			@apply bg-theme-3-key-cyan-bg;
		} 
	
		.circle-container {
			@apply bg-theme-3-toggle-bg;
		}
		
		.calculator-header {
			@apply text-theme-3-text-yellow;
		}

		.calculator-body {
			@apply bg-theme-3-toggle-bg;
		}

		.calculator-screen input {
			@apply bg-theme-3-screen-bg text-theme-3-text-yellow;
		}	

		.btn {
			@apply bg-theme-3-key-dark-bg text-theme-3-text-yellow;
			box-shadow: 0px 4px 0px 0px hsl(290, 70%, 36%);
		}

		.reset-btn, .equel-btn {
			@apply text-theme-3-text-white;
		}

		.reset-btn, .del-btn {
			@apply bg-theme-3-key-bg text-theme-3-text-white;
			box-shadow: 0px 4px 0px 0px hsl(285, 91%, 52%);
		}

		.equel-btn {
			@apply bg-theme-3-key-cyan-bg text-theme-3-text-dark-blue;
			box-shadow: 0px 4px 0px 0px hsl(177, 92%, 70%);
		}
	}
}